.body-color {
    background-color: #7585c4;
}

.no-underline {
    text-decoration: none;
    color: inherit;
}

.zoom-container {
    overflow: hidden;
}

.zoom-on-hover {
    transition: transform 0.5s;
}

.zoom-on-hover:hover {
    transform: scale(1.19);
}